name: Azure Deploy - PROD

on:
  workflow_dispatch: {}
  push:
    branches:
      - master
    paths:
      - "apps/io-functions-services/CHANGELOG.md"

permissions:
  attestations: write
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@main
    secrets: inherit
    with:
      workspace_name: io-functions-services
      environment: app-prod
      resource_group_name: io-p-itn-platform-services-rg-01
      web_app_name: io-p-itn-services-func-02